<%- include("./partials/header.ejs") %>
<main class="bg-primary">
  <h1 class="text-red-300">Hello world</h1>
  <h1 class="text-red-300">Hello world</h1>
  <button class="btn">Button</button>
</main>
<%- include("./partials/footer.ejs") %>